.FindCommandContainer{
    height: 100vh;
    width: 100%;
    background-color: #cfd1e1;
    display: flex;
    align-items: center;
    flex-direction: column;


}
.FindCommandH1{
    font-size: 28px;
    font-weight: 800;
}
.FindCommandName{
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
}
.FindCommandBlock{
    width: 80px;
    height: 40px;
    background-color: #E3E4ED;
    border-radius: 24px;
    display: flex;
    margin-left: calc(50% - 40px);
    align-items: center;
    justify-content: center;

}
.FindCommandContent{
    margin-top: 40px;
    width: 100%;

}
.FindCommandBlockAge{
    width: 80px;
    height: 40px;
    background-color: #E3E4ED;
    border-radius: 24px;
    display: flex;
    float:inline-end;
    margin-right: 40px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.FindCommandBlockRang{
    width: 80px;
    height: 40px;
    background-color: #E3E4ED;
    border-radius: 24px;
   display: flex;
    float:inline-start;
    margin-left: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.FindContentImg{
    border: none;
    margin-top: 20vh;
    z-index: 0;
    width: 300px;
    background-position: center;
    height: 300px;
    display: flex;
    margin-left: calc(50% - 150px);
    justify-content: center;
    background-image: linear-gradient(#cfd1e1, #cfd1e1 ), url(../../assets/FindContent.png);
    background-repeat: no-repeat;
    
    background-blend-mode: screen;
}
.FindCommandPeople{
    height: 24px;
    
}
.FindCommandBlockRangImg{
    height: 30px;

padding: 5px;
}
.FindCancel{
    width: 160px;
    height: 42px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 50px;
    justify-content: center;
}
.aFind{
    color: black;
}