.inputStud {
    min-height: 40px;
    width: 40%;
    left: 20px;
    border-radius: 50px;
    border-style: none;
    top: 80px;
    padding-left: 30px;
    font-size: 14px;
    position: absolute;
}

.inputStud:focus {
    outline: none;
    outline: 2px solid #8E8BFF;
}

.studHeader {
    display: inline;
    height: 50px;
}

.rankStud {
    margin-right: 30px;
    width: 90px;
    border: #8E8BFF 1px solid;
    border-radius: 12px;
    min-height: 50px;
    margin-left: auto;
    background-color: white;
    position: absolute;
    display: flex;
    right: 5px;
    top: 75px;
    align-items: center;
    overflow: auto;
    max-height: 300px;
    flex-direction: column;
    z-index: 500;
}
.close{
    width: 100%;
    position: absolute;
    top: 300px;
    height: calc(100vh - 350px);
}
