.gameProfiles{
    width: 95%;
    background-color: white;
    z-index: 200;
    display: flex;
    margin-left: 2.5%;
    border-radius: 30px;
    margin-top: 15px;
    flex-wrap: wrap;
    min-height: 40px;
    overflow: auto;
}
.gameprofileTitle{
    display: flex;
    margin-left: 5%;
    margin-top: 30px;
}
.gameProfilesH4{
    font-size: 16px;
    font-weight: 700;
    color: black;
    display: flex;
    margin-left: 20px;
    text-wrap: nowrap;
    margin-top: 10px;

}
.iconsGameProfile{
    right: 10%;
    height: 10px;
    text-align: right;
    margin-top: 10px;
    width: 100%;

}
.penGame{
    min-height: 20px;
    margin-right: 10px;
}
.trashGame{
    min-height: 20px;
    margin-right: 10px;
}
.pagGame{
    min-height: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
}
.gameProfileHeroes{
    height: 22px;
    padding: 5px;
}
.gameProfilePag{
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.gameProfileUnPag{
    min-width: 100%;
    display: flex;

}
.gameProfilesContainer{
    overflow: auto;
    border-radius: 5%;
    margin-bottom: 10px;
}
.lineTopGame{
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    
}
.addComand{
    height: 30px;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: 10px;
}