.commandContainer{
    height: 100vh;
    text-align: center;
    flex-direction: column;
    background-color: #d5d7e5;
    position: absolute;
    width: 100%;
    top: 0;
}
.commandTitle{
    font-size: 15px;
    font-weight: 500;
    color: #615C7E;
    margin-top: 100px;
    position: absolute;
    left: 20px;
}
.containerCommandBLock{
    max-height: calc(100vh - 200px);
    overflow: auto;
}
.purpleCurcle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8E8BFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 10px;
}
.UserModal{
    height: 270px;
    position: absolute;
    left: 5%;
    width: 90%;
    top: calc(50vh - 135px);
    backdrop-filter: blur(5px);
    z-index: 9999;

}
.userModalContent{
    background: linear-gradient( rgb(255, 255, 255), rgb(218, 221, 238));
    width: 100%;
    opacity: 90%;
    height: 270px;
    color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10000;

}
.userModalContentTitle{
    font-size: 18px;
    font-weight: 8000;
    margin-top: -40px;
}
.userModalDescription{
    background-color: #fff;
    width: 90%;
    max-height: 80px;
    margin-top: 25px;
    border-radius: 15px;
    color: black;
    text-align: left;
    line-height: 22px;
    word-wrap: break-word;
    overflow: scroll;
    padding: 10px;
}
.userModalInfoContainer{
    width: 90%;
    margin-top: 20px;
}
.userModalInfo{
    width: 100%;
    background-color: #fff;
    margin-top: 12px;
    height: 34px;
    border-radius: 100px;
    text-align: left;
    display: flex;
    align-items: center;
}
.userModalIcon{
    margin-left: 10px;
}
.userModalInfoP{
    margin-left: 10px;
    color: black;
    font-weight: 600;
    font-size: 14px;
   max-width: 70%;
   overflow: auto;
}
.userModalInfoCopy{
    margin-left: auto;
    display: flex;
    margin-right: 15px;
}
.userModalInfoCopy:active{
    opacity: 0.6;
}
.commandError{
    font-weight: 800;
    margin-top: 48vh;
}
.redactImg{
    margin-left: 10px;
}
