.commandContainer{
    height: 100vh;
    text-align: center;
    flex-direction: column;
    background-color: #d5d7e5;
    position: absolute;
    width: 100%;
    top: 0;
}
.commandTitle{
    font-size: 15px;
    font-weight: 500;
    color: #615C7E;
    margin-top: 100px;
    position: absolute;
    left: 20px;
}
.containerCommandBLock{
    max-height: calc(100vh - 200px);
    overflow: scroll;
}
.purpleCurcle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8E8BFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}