.CommandMergeTime{
    position: absolute;
    bottom: 20px;
    font-size: 42px;
    font-weight: bold;
}
.CommandMergeDescriptionTitle{
    display: flex;
    position: absolute;
    left: 40px;
    bottom: 145px;
    font-weight: 700;
    font-size: 16px;
}
.CommandMergeDescription{
    background-color: transparent;
    border: none;
    color: black;
    overflow: auto;
    display: flex;
    position: absolute;
    width: calc(100% - 80px);
    height: 40px;
    overflow: auto;
    text-wrap: wrap;
    bottom: 100px;
}
.CommandMergeButtons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
}
.CommandMergeButton{
    display: flex;
    align-items: center;
}
.CommandMergeButtonAdd{
    height: 35px;
    padding: 10px;
}
.CommandMergeHeroes{
    height: 200px;
    width: 60px;
    top: 240px;
    background-color: #E3E4ED;
    position: absolute;
    left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.CommandMergePositions{
    height: 200px;
    width: 60px;
    top: 240px;
    background-color: #E3E4ED;
    position: absolute;
    right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.CommandMergePosition{
    height: 30px;
    padding: 5px;

}
.CommandMergePositionsContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;

}
.mergeHeader{
    display: flex;
    width: 90%;
    margin-top: 30px;
}
.prev{
    display: flex;
    margin-right: auto;
    margin-left: 30px;
}
.next{
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}
.FindCommandNameMerge{
    font-size: 16px;
    font-weight: 700;
}