.findContainer {
    color: #615c7e;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #d5d7e5;
    border-radius: 30px;
}

.Finder {
    margin-top: 100px !important;
    color: #615C7E;
}

.command-container {
    background-color: #F5F3FD;
    height: 40px;
    width: 90%;
    margin-top: 10px;
    border-radius: 30px;
    align-items: center;
    display: flex;

}

.nicknameCommand {
    display: flex;
    font-weight: 700;
    margin-left: 20px;
    margin-right: auto;
    border: none;
    font-size: 14px;
    background-color: transparent;
}

.imagesPag {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    position: relative;

}

.numberPlayer {
    padding-top: 2px;
}

.people {
    margin-right: 10px;
}

.pagConteiner {
    min-height: 300px;
    background-color: #F5F3FD;
    width: 80%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 1000;
}

.command {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.descriptionTitle {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;

}

.teammateRank {
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;

}

.teammates {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.teammateRankImg {
    width: 50px;
    margin-top: 3px;
}

.teammateInfo {
    background-color: white;
    width: 75%;
    height: 60px;
    border-radius: 14px;
    margin-left: 10px;
}

.teammateName {
    float: left;
    font-weight: 600;
    margin: 5px;
}

.redact {
    display: flex;
    float: right;
    margin: 5px;
}

.teammatesHr {
    z-index: 523;
}

.teammatesHr {
    width: 100%;
    position: relative;
    top: -10px;
    color: #000;
}

.teammeteHeroe {
    max-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

.teammeteHeroes {
    display: flex;
    margin-top: -15px;
}

.pagButtons {
    display: flex;
    margin-top: auto;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}
.pagButtonfind{
    margin-left: 10px;

}

.trash {
    height: 30px;
    margin-left: 10px;
}



.addComandIcon {
    position: absolute;
    bottom: 80px;
    right: 0px;
    height: 35px;
    z-index: 1299;
}

.modal {
    width: 95%;
    background: linear-gradient(rgb(190, 195, 226, 0.8), rgb(206, 211, 239, 0.8));
    margin-left: 2.5%;
    opacity: 90%;
    position: absolute;
    height: 220px;
    box-shadow: inset 0 0 22px #C5C4ED;
    bottom: 10px;
    z-index: 1300;
    border-radius: 30px;
    text-align: center;
    backdrop-filter: blur(10px);
}
.nickname-modal{
    border-radius: 50px;
    border-style: none;
    max-height: 40px;
    min-height: 40px;
    padding-left: 30px;
    font-size: 16px;
    width: 80%;
    margin-top: 20px;

}
.nickname-modal:focus {
    outline: none;
}
.modal-chooseProfile{
    margin-left: 10%;
    width: 80%;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 12px;
    max-height: 40px;
    min-height: 40px;
    margin-top: 20px;
    border-style: none;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.modal-chooseProfile:focus {
    outline: none;
}
.modal-chooseProfileLable{
    position: absolute;
    top: 77px;
    left: 15%;
    font-size: 10px;
}
.dwn{
    position: absolute;
    top: 95px;
    left: 85%;

}
.modal-button{
     width: 80%;
     margin-top: 30px;
     height: 50px;
     border-radius: 30px;
     border: none;
     background-color: #8e8bff;
     font-weight: 600;
     font-size: 14px;
}
.modal-button:disabled{
    opacity: 80%;
}
.descriptionContent{
    display: flex;
    margin-left: 20px;
    color: #000;
    font-size: 11pt;
    outline: none;
    border: none;
    background-color: #F5F3FD;
    font-weight: 500;
    width: 90%;
    height: 20px;
}
.descriptionHR{
    width: 90%;
    height: 0;
    margin-left: 5%;
    border-top: 3px solid #8E8BFF;
    color: pink;
}
.modalP{
    color: black;
}
.GameNot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.changeModal{
    width: 95%;
    background: linear-gradient(rgb(190, 195, 226, 0.8), rgb(206, 211, 239, 0.8));
    margin-left: 2.5%;
    position: absolute;
    opacity: 80%;
    height: 220px;
    box-shadow: inset 0 0 22px #C5C4ED;
    bottom: 10px;
    z-index: 1300;
    border-radius: 30px;
    text-align: center;
    backdrop-filter: blur(9px);
}
.Changemodal-chooseProfileLable{
    position: absolute;
    top: 15px;
    left: 15%;
    font-size: 10px;
}
.pagA{
    display: flex;
    align-items: center;
}
.inFind{
    border: 1px solid #00D689;

}
.inFindTitle{
    color: #00D689;
    font-weight: 700;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.command-containerHeader{
    display: flex;
    width: 100%;
    align-items: center; 

}